

nav ul{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration:none;
    margin: 0 auto 20px;
    width: 100px;
    list-style-type: none;
    font-size: 2rem;
    text-align:center;
}

nav ul:hover{
    text-decoration: underline;
}




header{
    background-image: linear-gradient(50deg, rgb(117, 117, 117), rgb(255, 255, 255));
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:3rem;
}

h2 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:3rem;
    background-image: linear-gradient(150deg, rgb(117, 117, 117), rgb(255, 255, 255));
    margin: 0 auto 20px;
    width:700px;
    border:2px solid;
}

h2 a {
    text-decoration: none;
    color: black;
}

h2 a:hover{
    text-decoration: underline;
}

body {
    background-image: url(/img/road-5089188_960_720.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3 {
    
        text-align: center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:2rem;
        background-image: linear-gradient(150deg, rgb(117, 117, 117), rgb(255, 255, 255));
        margin: 0 auto 20px;
        width:500px;
        border:2px solid;
     
    
}

section{
    text-align: center;
}

footer{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

a {
    color: black;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

button {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.5);
    padding: .2rem;
    margin-bottom: .5rem;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=license] {
    padding: 5px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
}

div{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1.5rem;
    background-image: linear-gradient(150deg, rgb(117, 117, 117), rgb(255, 255, 255));
    margin: 0 auto 20px;
    width:450px;
    border:2px solid;
}


