header{
    background-color:dodgerblue;
    text-align:center;
    font-size:3rem;
}

section {
    text-align:center;  
}


h2 {
    text-align: center;
    font-size:3rem;
}

h3{
    text-align: center;
    font-size:2rem;
}

nav ul li{
    list-style-type:none;
}

section ul li{
    list-style-type:none;
    text-align:center;
}

a {
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-image: url(/img/road-5089188_960_720.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
